.email_main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(18,18,18,255);

  form{

    h1{
      color: white;
    }

    input, textarea{
      width: 100%;
      background-color: rgb(227, 227, 227);
      padding: 1.25rem 2rem;
      font-size: 1.2rem;
      color: gray;
      border: none;    
      font-weight: 500; 
      border-radius: 5px;
    }

    .back_button{
      border: 2px solid rgba(238,85,102,255);
      background-color: rgba(18,18,18,255);
    }
    .back_button:hover{
      background-color: rgb(38, 38, 38);
    }
  }
}