*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
}

.auth_main{
  width: 100vw;
  min-height: 100vh;
  background-image: url("assets/image/auth/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;
}

input[type="checkbox"] {
  accent-color: rgba(238,85,102,255);
}