header{
  position: fixed;
  top: 0;
  width: 100%;

  .top_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 3rem;
    background-color: rgba(18,18,18,255);
    box-shadow: 0 4px 3px -2px rgba(117, 117, 117, 0.2); 

    &_logo{
      aspect-ratio: 1/1;
      width: 75px;
    }

    &_task{
      font-size: 1.5rem;
      font-weight: 400;
      color: rgba(238,85,102,255);
      text-transform: uppercase;      
    }
  }
}